body {
    background-color:black;
//    font-size:12px;
    color: #cfcfcf;
}

h2 {
    color: #8f8f8f;
}

#canvas_container {
    position: relative;
    text-align:center;
}

.anim, #last_anim {
    border: thin solid green;
    z-index:100;
    margin: 3px auto;
}

.links {
    z-index:500;
}

.link {
    position: relative;
}

.text {
    position: absolute;
    left: 50%;
    top: -50px; // wtf css
    z-index:500;
}

.links td {
    font-family: Arial,sans-serif;
    font-size: 2.0em; 
    width: 150px;
    text-align: center;
    color: #000;
}

.links a {
    color:white;
    text-decoration: none; 
}

.center {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.subtitle {
    font-size: 0.7em;
    //color: #000;
}

.col-sm-4 img, .col-sm-3 img {
    margin-bottom: 0.2rem;
}

.col-sm-4 img {
    width: 60%;
}

.col-sm-3 img {
    width: 80%;
}

img:hover:not(.nohover) {
    opacity: 0.5;
}

.intro img {
    border-radius: 10px;
    margin-right: 20px;
    vertical-align: top;
}

.pic {
    margin: 10px;
}

.intro_text {
    display: inline;
    text-align:left;
}

.intro_pic {
    float: left;
}

.intro_links {
    margin: 5px;
}

.intro_links img {
    margin: 5px;
}
