body {
    background-color: #F5F5F5;
//    font-size:12px;
    color: black;
}

h2 {
   color: #0d6a6a;
}

.col-sm-4 img, .col-sm-3 img {
    margin-bottom: 0.2rem;
    border: 1px solid #0d6a6a;
;
}

.intro_core, .col-sm-12 h2 {
    padding: 10px;
    background-color: #0d6a6a;
    color: white;
    margin-bottom: 20px;
}

.contact {
    text-align: center;
    border: solid 1px white;
    color: white;
    background-color: #0d7a7a;
    margin: 0 auto;
    width: 200px;
    padding: 5px;
}

.contact:hover {
    background-color:#0d6a6a;
}

.nostyle:hover {
    text-decoration: none;
}

.col-sm-4 img {
    width: 60%;
}

.col-sm-3 img {
    width: 80%;
}

img:hover:not(.nohover) {
    opacity: 0.5;
}

.intro img {
    //border-radius: 10px;
    margin-right: 20px;
    vertical-align: top;
}

.pic {
    margin: 10px;
}

.intro_text {
    display: inline;
    text-align:left;
}

.intro_pic {
    float: left;
}

.intro_links {
    margin: 5px;
}

.intro_links img {
    margin: 3px;
}

.invert {
    filter: invert(1);
}

ul {
    margin-top: -10px;
    list-style: inside;
}

.img-thumbnail {
    border-radius: 0;
}
