.lang {
    text-align: left;
}

.intro_pic {
    float: left;
}

.pic {
    width: 124px;
}

.intro_text ul {
    margin: 0;
}

.intro_list {
    display: inline-block;
}

.post_ul {
    margin-top: 16px;
}

.cv img, .cvresearch img {
    height: 100px;
    width: 100px;
}

.col-sm-4 {
}

.wrapper {
    border: 1px solid #000000; /* Border style */
    margin: 10px; /* Add padding for spacing */
    padding: 10px;
    height: 95%;
}

/* Accessibility (contrast) */
a {
    color: #0c009f;
}
