.ciename {
    float: left;
    height: 50px;
}

.jobtitle {
    font-style: italic;
}

.card-header a {
    color: inherit;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    margin: 5px auto;
}

.card-header, .card-footer {
    background-color: #fff;
}

.hoverline:hover {
    border-bottom: 3px solid transparent !important;
}

.card-header .fa {
  transition: .3s transform ease-in-out;
}

.card-header .collapsed .fa {
  transform: rotate(90deg);
}

.fa-chevron-down {
    width: 20px;
}

.card-text {
    text-align: left !important;
}

.lang {
    text-align: left;
}

.intro_core, .banner h2 {
    padding: 15px;
    background-color: #0d6a6a;
    color: white;
    margin: 10px auto;
}

.intro img {
    margin-right: 20px;
   vertical-align: top;
}

.intro_pic {
    float: left;
}

.intro_text_div {
    display: inline;
    text-align:left;
}

.intro_text {
    font-family: "Calibri", sans-serif;
}

.intro_links {
    margin: 5px 5px 5px 0;
}

.intro_links img {
    margin: 5px;
}

.pic {
    width: 124px;
    margin: 5px 20px 10px 5px;
}

.intro_text ul {
    margin: 0;
    list-style: inside;
}

.intro_list {
//    display: inline-block;
}

.contact {
    font-size: 20px;
    text-align: center;
    border: solid 1px white;
    color: white;
    background-color: #0d7a7a;
    margin: 0 auto;
    width: 200px;
    padding: 5px;
}

.contact:hover {
    background-color:#0d6a6a;
}

#cv {
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
}

#cv:hover {
    opacity: 0.5;
}

#cv *:hover {
    opacity: 1;
}

.post_ul {
    margin-top: 16px;
}

.cv_link img {
    height: 100px;
}

.cv_link div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cv_link span {
    margin-left: -20px;
}

.cvresearch img {
    height: 100px;
    width: 100px;
}

.cv_link {
    font-size: 24px;
    font-weight: bold;
}

.pad {
    margin-top: 20px;
}

.wrapper {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
    height: 95%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}

/* Accessibility (contrast) */
a {
    color: #0c009f;
}
